@import '../../styles/variables';

.card {
  padding: 16px 8px ;
  border-bottom: 1px solid rgba($main-gray, .2);
  display: flex;
  flex-direction: column;
  gap: 6px;
  letter-spacing: -0.408px;

  .topLine {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .name {
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;
      color: $main-black;
    }

    .like {
      justify-self: end;
    }
    @media (max-width: 576px) {
      .name{
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

  .middleLine {
    display: flex;
    gap: 24px;
    .date {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: $main-gray;
    }

    .divider {
      align-self: center;
      height: 1px;
      width: 8px;
      background-color: #C4C4C4;
    }

    .daysCount {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: $main-gray;
    }
    @media (max-width: 576px) {
      //flex-direction: column;
      justify-content: space-between;
      padding: 4px 0;
      gap: 8px;
      .date{
        font-size: 12px;
      }
      .daysCount{
        font-size:12px;
      }
      //.divider{
      //  align-self:self-start;
      //}
    }
  }

  .bottomLine {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    .rating {
      display: flex;
      gap: 3px
    }

    .price {
      display: flex;
      gap: 12px;

      span {
        font-weight: 300;
        font-size: 11px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: $main-gray;
      }

      span + span {
        font-weight: 400;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: -0.408px;
        color: $main-black;
      }
      @media (max-width: 576px) {
        align-self: flex-end;
      }
    }
    @media (max-width: 500px) {
      flex-direction: column;
      padding: 4px 0;
      gap: 8px;
    }
  }
}