@import '../../styles/variables';

.header {
  padding: 34px 32px;
  display: flex;
  justify-content: space-between;

  .headerLogo {
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: $main-black;
  }

  .logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}

@media (max-width: 576px) {
  .header{
    .headerLogo{
      font-size: 18px;
    }
  }
}